{
 "presets": ["react-native-stage-0/decorator-support"],
 "plugins": [
    "babel-remove-process-env-assignment",
    "transform-inline-environment-variables"
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
