{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "globals": {
      "__DEV__": true,
      "__DEBUG__": true,
      "__TEST__": false
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "extends": [
        "airbnb",
        "plugin:react/recommended"
    ],
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".ios.js", ".android.js"]
        }
      }
    },
    "rules": {
      keyword-spacing: ["error", { "overrides": {
        "if": { "before": false, "after": false },
        "for": { "before": false, "after": false },
        "try": { "before": false, "after": false },
        "catch": { "before": false, "after": false },
        "else": { "before": false, "after": false },
        "while": { "before": false, "after": false } } }],
      "no-bitwise": 0,
      "comma-dangle": 0,
      "no-else-return": 0,
      "radix": [1, "as-needed"],
      "global-require": 0,
      "semi": 0,
      "react/prop-types": 0,
      "one-var": 0,
      "no-use-before-define": 0,
      "import/extensions": [1, "never"],
      "react/jsx-filename-extension": 0,
      "react/jsx-no-bind": 0,
      "eqeqeq": 0,
      "max-len": 0,
      "no-console": ["warn", { allow: ["log","warn", "error"] }],
      "no-unused-expressions": 0,
      "object-curly-spacing": 0,
      "no-underscore-dangle": 0,
      "space-before-blocks": 0,
      "react/jsx-space-before-closing": 0,
      "arrow-parens": 0,
      "padded-blocks": 0,
      new-cap: ["error", { "properties": false }]
    }
}
