<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paths</key>
	<array>
		<string>run22/core/core-config</string>
		<string>run21/core/core-config</string>
		<string>run26/core/core-config</string>
		<string>run21/core/table-manager</string>
		<string>run23/core/uniquing</string>
		<string>run27/core/core-config</string>
		<string>run22/core/uniquing</string>
		<string>run26/core/uniquing</string>
		<string>run25/core/table-manager</string>
		<string>run25/core/uniquing</string>
		<string>run23/core/core-config</string>
		<string>run24/core/table-manager</string>
		<string>currentRun/core/uniquing</string>
		<string>run28/core/table-manager</string>
		<string>run23/core/table-manager</string>
		<string>run28/core/core-config</string>
		<string>run27/core/table-manager</string>
		<string>run21/core/uniquing</string>
		<string>run25/core/core-config</string>
		<string>run24/core/core-config</string>
		<string>run24/core/uniquing</string>
		<string>run26/core/table-manager</string>
		<string>run28/core/uniquing</string>
		<string>run27/core/uniquing</string>
		<string>run22/core/table-manager</string>
	</array>
</dict>
</plist>
